.display-4{
    font-size: 80px;
    text-align: center;
    font-family: Verdana;
}
body{
    background-color: #D86500;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%236f0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23be0025' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%237b0019' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23a80039' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%2384002e' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%238c0046' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23890046' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%236c004c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23870061' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%234b004b' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%237c007c' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}