{{#partial "title"}}Rangers{{/partial}}

{{#partial "content"}}
    <div class="row">
        <div class="col">
            <h1 class="display-4">Animals</h1>
            {{#if animal}}
                {{#each animal as |a|}}
                    <div class="alert alert-info">
                        <p><strong>Name:</strong>{{a.animal_name}}</p>
                        <p><strong>Age:</strong>{{a.animal_age}}</p>
                        <p><strong>ID:</strong>{{a.animal_id}}</p>
                    </div>
                {{/each}}
            {{else}}
                <div class="alert alert-danger">
                    No Animals Added
                </div>
                <a href="/animal/add" class="btn btn-success">Add new sighted animal</a>
            {{/if}}
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}